@import "tailwindcss";
@plugin "@tailwindcss/typography";

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}
.animate-pulse-fast {
  animation: pulse 1s infinite;
}
